$primary-color: #DB4444;
$footer-bg-color: #404040;
$text-color: #FFFFFF;
$border-radius: 5px;
$padding: 10px 20px;

body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* COMPONENTS */

h1.logo-text {
  font-weight: 400;
  text-align: center;

  span {
    font-weight: bold;
  }
}

.buttonMain {
  background-color: $primary-color;
  text-align: center;
  color: white;
  border-radius: $border-radius;
  border: none;
  padding: 15px 50px;
  font-family: 'Poppins';
  margin-top: 20px;
  cursor: pointer;

  &:hover {
    background-color: #b04444;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0px 7rem;
  flex-wrap: wrap;

  .link-icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
  }

  .icon {
    margin-right: 10px;
  }
}

footer {
  background-color: $footer-bg-color;
  display: flex;
  padding: 40px 7rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  h1, a, p {
    color: $text-color;
    font-weight: 400;

    span {
      font-weight: bold;
    }
  }

  div.links {
    text-align: center;
    display: flex;
    gap: 40px;
    a {
      text-decoration: none;

      &:hover {
        color: #9a9595;
      }
    }
  }
}

/* NOT FOUND PAGE */
main:has(.notfound) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.notfound {
  margin: 120px 0px;

  h1 {
      font-size: 110px;
      font-weight: 400;
      margin: 0;
      letter-spacing: 3%;
  }
}

/* AUTH TEMPLATES */
.auth-main {
  display: flex;
  .sect-left {
    width: 50%;

    img {
      width: 600px;
    }
  }
}