$primary-color: #DB4444;
$primary-color-hover: #b04444;
$text-color-black: #000000;
$text-color-white: #FFFFFF;
$border-radius: 5px;
$padding: 10px 20px;

body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
  user-select: none;
}

/* COMPONENTS */

h1.logo-text {
  font-weight: 400;
  text-align: center;
  user-select: none;
  cursor: pointer;
  span {
    font-weight: bold;
  }
  a {
    text-decoration: none;
    color: $text-color-black;
  }
}

.buttonMain {
  background-color: $primary-color;
  text-align: center;
  color: $text-color-white;
  border-radius: $border-radius;
  border: none;
  padding: 15px 50px;
  font-family: 'Poppins';
  margin-top: 20px;
  cursor: pointer;

  &:hover {
    background-color: $primary-color-hover;
  }
}

/* NOT FOUND PAGE */
main:has(.notfound) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.notfound {
  margin: 120px 0px;

  h1 {
      font-size: 110px;
      font-weight: 400;
      margin: 0;
      letter-spacing: 2px;
  }
}

/* AUTH TEMPLATES */
.auth-container {
  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    padding: 0px 7rem;
  }

  .auth-main {
    display: flex;
    height: 100vh;
    .sect-left {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 65%;
      background-color: #CBE4E8;
      img {
        width: 80%;
      }
    }
    .auth-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 45%;
      form {  
        display: flex;
        flex-direction: column;

        div.text, div.inputs {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }

        h1 {
          font-size: 36px;
          font-weight: normal;
          letter-spacing: 2px;
          margin: 0;
        }

        input {
          border: none;
          color: #3f3e3e;
          padding: 12px 0px 12px 0px;
          border-bottom: 1px solid #3f3e3e;
          width: 23rem;
          font-family: "Poppins";

          &:focus {
            outline: 0;
          }
        }

        div.buttons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 20px;

          button {
            margin-top: 0;
          }
          

          a {
            color: $primary-color;
            font-size: 14px;
            text-decoration: none;
            &:hover {
              color: $primary-color-hover;
            } 
          }
        }
      }
    }
  }
}

button.buttonMain.register-button {
  width: 100%;
}

.product-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 45px;
  padding: 0px 7em;
  
  .sect-image {
    img {
      width: 100%;
      max-width: 500px;
      min-width: 250px;
      max-height: 500px;
      min-height: 250px;
      object-fit: cover;
      border-radius: 15px;
    }
  }

  .sect-infos {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    h1, p {
      margin: 0px;
    }

    .buttonMain {
      width: 300px;
    }

    .product-value {
      margin-top: 20px;
      font-size: 38px;
      color: $primary-color;
      font-weight: bold;
    }
  }
}

/* HOME PAGE */
main.home-main {
  padding: 0px 7rem;
  .infos-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .city-chip { 
      display: flex;
      gap: 4px;
      padding: 12px;
      border-radius: 20px;
      color: $text-color-white;
      background-color: $primary-color;
      p {
        margin: 0;
      }
    }
  }

  h1 {
    font-size: 24px;
    border-bottom: #FFAE5D dashed 3px;
    padding: 8px 0px 8px 8px;
  }

  .product-card {
    cursor: pointer;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    padding: 16px;
    width: 235px;
    margin-bottom: 12px;
  
    .product-image {
      max-width: 100%;
      height: auto;
      margin-bottom: 16px;
    }

    .price-div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .product-name {
      font-size: 16px;
      margin-bottom: 8px;
    }
  
    .product-price {
      font-size: 16px;
      color: #333;
    }
  
    .product-discount {
      font-size: 16px;
      color: $primary-color;
    }
  }  

  .product-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
  }
}

.checkout-main {
  display: flex;
  padding: 0px 7rem;
  margin-bottom: 120px;

  h1 {
    font-family: 'Inter';
    font-size: 36px;
    letter-spacing: 2px;
    font-weight: 500;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .input-label {
      display: flex;
      flex-direction: column;
      gap: 2px;

      label {
        font-size: 16px;
        color: #00000083;
        span {
          color: #db44448e;
        }
      }

      input {
        background-color: #F5F5F5;
        border-radius: 4px;
        padding: 10px;
        width: 320px;
        font-family: 'Poppins';
        border: none;
      }
    }
  }

  .left-sect {
    width: 50%;
  }

  .right-sect {
    width: 30%;
    .product-info {
      display: flex;
      justify-content: space-between;
      width: 100%;

      img {
        width: 55px;
        height: 55px;
        aspect-ratio: 16 / 9;
        object-fit: cover;
      }
    }

    .total-value {
      display: flex;
      flex-direction: column;
      div {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}