@media (max-width: 1048px) {
    .auth-container {
        header {
            position: relative;
            bottom: 0;
            right: 0;
            width: inherit;
            padding: 0px 5rem;
        }

        .auth-main {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse; 
          }
      
          .auth-main .sect-left {
              display: none;
          }
    }   

    footer {
        padding: 20px 5rem !important;
    }
}

@media (max-width: 800px) {
    .product-main {
        flex-wrap: wrap;
    }
}