body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  background-color: #404040;
  display: flex;
  padding: 40px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: row wrap;
}

footer h1, footer a, footer p {
  color: #FFFFFF;
  font-weight: 400;
}

footer h1 span {
  font-weight: bold;
}

footer div.links {
  text-align: center;
  display: flex;
  gap: 0px 40px;
  
}

footer div.links a {
    text-decoration: none;
}