main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.notfound {
    
    margin: 120px 0px;

    h1 {
        font-size: 110px;
        font-weight: 400;
        margin: 0;
        letter-spacing: 3%;
    }
}